<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join us!!</title>
</head>
<body>
    <form method="post" action="/fetch">
        <h2>Welcome enter your details: </h2>
        <input type="text" name="newUsername" placeholder="Enter username">&nbsp;
        <input type="text" name="newEmail" placeholder="Enter email">&nbsp;
        <input type="text" name="newPassword" placeholder="Enter password">&nbsp;
        <button>Submit</button>
    </form>
</body>
</html>